body{
    background-image: url('./monkey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
p{
    font-size: large;
    text-align: center;
}
button{
    font-size: medium;
    text-align: center;
}
